/*.bag
/*.bag.active
/pigpio-master
/master.zip
devel/lib/python3/dist-packages/breadcrumb/__pycache__/
devel/lib/python3/dist-packages/breadcrumb/srv/__pycache__/__init__.cpython-38.pyc
devel/lib/python3/dist-packages/breadcrumb/srv/__pycache__/_RequestPath.cpython-38.pyc
